@import url("print.css") print;
/* [HTML] <link rel="stylesheet" media="print" href="print.css"> */

ul.menu li a {padding:1px; margin:1px;}
h1 {position: relative; left: 10px;} /* against it's normal pos */
h2 {position: absolute; top: 1px; left: 10px;} /* against parent's pos */
h3 {position: fixed; bottom: 0px; right: 0px;} /* against browser */
h4 {float:left: 10px; clear: both;}
ul > li ol {height:1px;max-height:1px;min-height:1px;overflow:scroll;}
h1 + p {color:#000000; z-index: 3;} /* Adjacent Sibling */
a.link, a.hover {border:1px solid rgb(255,165,0);}
table, th, td {background: #f0e68c url("img.png") no-repeat fixed center;}
div.foo {text-align:center;text-decoration:line-through;}
div#bar {outline:1px dashed #0000ff;}
input[type="submit"] {display: block; display:block;}
[class~="warning"] {visibility: visible; visibility: none;}
a[href^="http://"] {opacity: 0.7; border-image: url("border.png") 30 30 round;}
a[href$=".pdf"] {font: 1em italic small-caps;}
p {columns: 150px 3; column-gap: 100px;column-rule: 2px solid red;}

/* box-sizing */
.box {width:33%; float:left; margin-left:10px; box-sizing:border-box;}
.box:first-child{margin-left:0;}

/* FlexBox */
.flex-container {width:80%; display: flex; align-items:center; justify-content:space-around;}
.flex-container div {flex:2;}

/* SPRITE */
ul.menu li a {background: url("sprite.png") no-repeat;}
ul.menu li.firefox a {background-position: 0 0;}
ul.menu li.firefox a:hover {background-position: 0 -50px;}
ul.menu li.chrome a {background-position: 0 -100px;}
ul.menu li.chrome a:hover {background-position: 0 -150px;}